# Workflow to run pre-commit hooks when merging into develop/main
on:
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main, develop]

on: [] # No automatic triggers


name: Pre-commit hooks

jobs:
  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup R
      uses: r-lib/actions/setup-r@v2
        
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install pre-commit
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit

    - name: Install hooks
      run: pre-commit install

    - name: Run pre-commit hooks
      run: pre-commit run --all-files
